body {

    /*Colors defined for Login container*/
    --color-primary: #008ae6;
    --color-primary-dark: #006bb3;
    --color-secondary: #007acc;
    --color-error: #990000;
    --color-success: #00802b;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /*Background properties*/
    background: transparent;  
    background: linear-gradient(to bottom, rgb(37, 88, 155, 1.00), transparent 95%);
}